%h1 Listing aphubs

%table
  %tr
    %th Airport
    %th Aircomapny
    %th
    %th
    %th

  - @aphubs.each do |aphub|
    %tr
      %td= aphub.airport.name_rus
      %td= aphub.aircompany.airline_name_rus
      %td= link_to 'Show', aphub
      %td= link_to 'Edit', edit_aphub_path(aphub)
      %td= link_to 'Destroy', aphub, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Aphub', new_aphub_path
