= simple_form_for(@airport_terminal) do |f|
  = f.error_notification

  .form-inputs
    = f.input :airport, :as => :autocomplete, :source_query => autocomplete_airport_city_rus_airports_path
    = f.input :terminal

  .form-actions
    = f.button :submit
