<h2>Изменить пользователя <%= current_user.username%></h2>
<div class="field-form">
  <div class="field-form-section">
    <div class="round-image-250">
      <%= image_tag @user.avatar.url(:big)  %>
    </div>
  </div>
  <div class="field-form-section">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :data => {:ajax => 'false'}}) do |f| %>
  <%= devise_error_messages! %>
  <h3>Редактирование имя и Email <%= current_user.username%></h3>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, :autofocus => true  %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

    <div class="field">
        <%= f.label :avatar %>
        <div class="avatar">
            <%= f.file_field :avatar %>
        </div>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="field">
      <%= f.label "Currently waiting confirmation for:"%>
      <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div>
    <h3>Изменение пароля пользователя <%= current_user.username%></h3>
    <div>
      <%= f.label "Новый пароль:" %>
      <%= f.password_field :password, :autocomplete => "off" %></i>
    </div>
    <div>
      <%= f.label "Подтвердите новый пароль:" %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <h3>Изменение других настроек для <%= current_user.username%></h3>

  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone %>
  </div>

  <div class="field">
    <%= f.label :town_id%>
    <%= autocomplete_field_tag 'town', '', autocomplete_town_accent_city_towns_path, :size => 30, 'data-auto-focus' => true, :update_elements => {:id => '#user_town_id'}, :value => params[:town] %>
    <%= f.hidden_field :town_id%>
  </div>

  <div>
    <%= f.label :user_theme %>
    <%= f.select :user_theme_id, UserTheme.order(:theme).collect{|item| [item.theme, item.id]}%>
  </div>
  
  <h3>Введите текущий пароль:</h3>
  
  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>

  <div><%= f.submit "Update" %></div>
<% end %>

<%= link_to "Back", :back, class: "jqbutton" %></div></div>
