= form_for @flash_message_state do |f|
  - if @flash_message_state.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flash_message_state.errors.count, "error")} prohibited this flash_message_state from being saved:"
      %ul
        - @flash_message_state.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :state
    = f.text_field :state
  .actions
    = f.submit 'Save'
