- model_class = Status
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

%h1 Listing statuses

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th ID
      %th Name
      %th
      %th
      %th

  %tbody
    - @statuses.each do |status|
      %tr
        %td= status.id
        %td= status.name
        %td= link_to 'Show', status
        %td= link_to 'Edit', edit_status_path(status)
        %td= link_to 'Destroy', status, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to t('.new', :default => t("helpers.links.new")), new_status_path, :class => 'btn btn-primary'

