%table#aircompany.table
  %thead
    %tr
      %th Label & IATA/ICAO code
      %th Airline name
      %th airport
      %th tt_count
      %th per_cent_tt
      %th date_start
      %th date_finish
      %th
      %th
  %tbody
    - @aircompanies.each do |aircompany|
      %tr
        %td
          = image_tag aircompany.avatar.thumb_80.url if aircompany.avatar? 
          = aircompany.iata_code
          = aircompany.icao_code
        %td
          = link_to aircompany.airline_name_eng, aircompany
          = link_to aircompany.airline_name_rus, aircompany if aircompany.airline_name_rus
        %td
          = link_to aircompany.airport.name_rus, aircompany.airport if aircompany.airport
          (г.#{link_to aircompany.airport.town.city_rus,  country_town_path(aircompany.country, aircompany.airport.town_id) if aircompany.airport && aircompany.airport.town})
        %td= aircompany.timetableaps_count
        %td= aircompany.per_cent_tt
        %td= aircompany.al_start
        %td= aircompany.al_finish
        - if policy(aircompany).edit?
          %td= link_to 'Edit', edit_aircompany_path(aircompany)
        - if policy(aircompany).destroy?
          %td= link_to 'Destroy', aircompany, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(document).ready(function(){
      $('#aircompany').DataTable( {
        retrieve: true, 
        paging:   false,
        autoWidth: false,
        ordering: true,
        info:     false,
        stateSave: true,
        searching: false,
        order: [[ 0, "asc" ]]
      });
  });
