#al_info_section.al_info_section
  %p
    %b Iata code:
    = @aircompany.iata_code
  %p
    %b Icao code:
    = @aircompany.icao_code
  %p
    %b Awb prefix:
    = @aircompany.awb_prefix
  %p
    %b Airline name eng:
    = @aircompany.airline_name_eng
  %p
    %b Airline name rus:
    = @aircompany.airline_name_rus if @aircompany.airline_name_rus
  %p
    %b Base airport:
    = link_to @aircompany.airport.name_rus, @aircompany.airport if @aircompany.airport
    (г.#{link_to @aircompany.airport.city_rus, country_town_path(@aircompany.airport.country,@aircompany.airport.town) unless @aircompany.airport.nil?})
  %p
    %b Общее количество рейсов в день (среднее)
    = @aircompany.timetableaps_count
  %p
    %b Country:
    = @aircompany.country.country_name if @aircompany.country
  %p
    %b Start:
    = @aircompany.al_start
  - if @aircompany.al_finish != nil
    %p
      %b Finish:
      = @aircompany.al_finish
  - if @aircompany.childs != nil
    %p
      %b Дочерние компании:
      %br
      - @aircompany.childs.each do |aa|
        #{link_to aa.airline_name_rus, aa} базируется в а/п #{link_to aa.airport.name_rus, aa.airport} (г.#{link_to aa.airport.city_rus, country_town_path(aa.airport.country,aa.airport.town) unless aa.airport.town.blank?})
        %br
  %p
    = link_to 'Добавить рейс в данную компанию', new_timetableap_path(@aircompany), class: "btn btn-primary"

