<div id="al_info_section" class="al_info_section">
<p>
  <b>Iata code:</b>
  <%= @aircompany.iata_code %>
</p>

<p>
  <b>Icao code:</b>
  <%= @aircompany.icao_code %>
</p>

<p>
  <b>Awb prefix:</b>
  <%= @aircompany.awb_prefix %>
</p>

<p>
  <b>Airline name eng:</b>
  <%= @aircompany.airline_name_eng %>
</p>

<p>
  <b>Airline name rus:</b>
  <%= @aircompany.airline_name_rus %>
</p>

<p>
  <b>Base airport:</b>
  <%= @aircompany.airport.name_rus %> (г.<%= @aircompany.airport.city_rus %>)
</p>

<p>
  <b>Country:</b>
  <%= @aircompany.country.country_name %>
</p>

<p>
  <b>hubs:</b>
  <% @aircompany.aphubs.each {|x|%>
    <%= link_to x.airport.name_rus, x.airport%>
  <%}%>
</p>

<p>
  <b>Start:</b>
  <%= @aircompany.al_start %>
</p>

<p>
  <b>Finish:</b>
  <%= @aircompany.al_finish %>
</p>
</div>
