= simple_form_for @aircompany, html: { class: "form-inline aircompany col-12"}, validate: true do |f|
  = f.error_notification
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    %label{class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'} Airline Logo
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
  .form-group.col-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
    = f.label :iata_code, class: 'col col-sm col-md col-lg col-xl col-fprm-label d-flex justify-content-start'
    = f.text_field :iata_code, autofocus: true, class: 'form-control col-4'
  .form-group.col-6.col-sm-6.col-md-3.col-lg-3.col-xl-3
    = f.label :icao_code, class: 'col col-sm col-md col-lg col-xl col-fprm-label d-flex justify-content-start'
    = f.text_field :icao_code, class: 'form-control col-4'
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.label :airline_name_eng, class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'
    = f.text_field :airline_name_eng, class: 'form-control col'
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.label :airline_name_rus, class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'
    = f.text_field :airline_name_rus, class: 'form-control col'
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.label :base_airport, class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'
    = f.input :airport, :label => '|', :class => 'dropdown col', :as => :autocomplete, :source_query => autocomplete_airport_city_rus_airports_path
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.label :country_id, class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'
    = f.select :country_id, Country.order(:country_name).collect{|item| [item.country_name, item.id]}, {},  class: 'form-control col'
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.label :al_start, class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'
    = f.select :al_start, 1930..Time.now.year, {}, class: 'form-control col'
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.label :al_finish, class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'
    = f.select :al_finish, 1960..Time.now.year, {:include_blank => "а/к работает"}, {class: 'form-control col'}
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.label :manager_id, class: 'col-4 col-md-3 col-lg-3 col-xl-3 col-fprm-label d-flex justify-content-start'
    = f.collection_select :manager_id, Aircompany.where(al_finish: nil).order(:airline_name_rus), :id, :airline_name_rus.to_s, {:include_blank => "Недочерняя компания"},  {class: 'form-control col'}
  .form-group.col-12.col-md-6.col-lg-6.col-xl-6
    = f.submit nil, class: 'btn btn-primary col'
