<h1>Airlines of ES</h1>
<p><%= @aircompanies.count%> aircompanies</p>
<%= form_tag aircompanies_path, :method => 'get', :id => "aircompanies_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], autofocus: true  %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="aircompanies"><%= render 'aircompanies/aircompanies' %></div>
<% end %>
<%= link_to 'New Aircompany', new_aircompany_path %>
