.col-12
  %h1.display-5 Editing aircompany #{@aircompany}
.col-12
  = link_to 'Show', @aircompany, :class => 'btn btn-default'
  ||
  = link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default'
= render 'form'
.col-12
  = link_to 'Show', @aircompany, :class => 'btn btn-default'
  ||
  = link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default'
