<p id="notice"><%= notice %></p>
<div id="al_info" class="al_info">
  <%=render "aircompanies/al_logo"%>
  <%=render "aircompanies/al_info"%>
</div>
<div class="al_tt" id="al_tt">
<fieldset><legend>
<h2>Рейсы <%= @aircompany.airline_name_rus %> (<%= @aircompany.airline_name_eng%>), выполняемые на собственных самолётах.</h2>
</legend>
  <div id="timetableaps"><%= render "timetableaps/timetableaps"%></div>
</fielset>
<fielset>
<legend>
<h2>Рейсы <%= @aircompany.airline_name_rus %> (<%= @aircompany.airline_name_eng%>), выполняемые на самолётах других авиакомпаний. </h2></legend>
  <div id="timetableap_subs"><%= render "timetableap_subs/index"%></div>
</fielset>
<br />
<% if policy(@aircompany).edit? %>
  <%= link_to 'Edit', edit_aircompany_path(@aircompany), class: "jqbutton" %>
<%end%>
</div>
