%h1
  Авиакомпания #{@aircompany.airline_name_rus}
- if @aircompany.manager_id != nil
  %h3
    (является дочерней авиакомпанией #{link_to @aircompany.manager.airline_name_rus, @aircompany.manager}.)
#al_info.al_info
  = render "aircompanies/al_logo"
  = render "aircompanies/al_info"
#al_tt.al_tt
  %fieldset
    %legend
      %h2
        Рейсы #{@aircompany.airline_name_rus} (#{@aircompany.airline_name_eng}), выполняемые на собственных самолётах.
    #timetableaps= render "timetableaps/timetableaps"
    %fielset
      %legend
        %h2
          Рейсы #{@aircompany.airline_name_rus} (#{@aircompany.airline_name_eng}), выполняемые на самолётах других авиакомпаний.
      #timetableap_subs= render "timetableap_subs/index"
    %br/
    - if policy(@aircompany).edit?
      = link_to 'Edit', edit_aircompany_path(@aircompany), class: "jqbutton"
