:javascript
  $(document).ready(function(){
    $("#tt").tablesorter({
      widgets: ["zebra"],
      sortList:[[3,0]]
     });
  });
= render "timetableaps/paginate_top"
%table#tt.tt.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Flight number
      %th Aircompany
      %th Way start
      %th Timestart
      %th Way end
      %th Timeend
      %th Navigation
      %th Время в пути
      %th
      %th
  %tbody
    - @timetableaps.each do |timetableap|
      %tr
        %td
          %span.glyphicon.glyphicon-plane
          = image_tag timetableap.aircompany.avatar.thumb_80 if timetableap.aircompany.avatar?
          = timetableap.flight
        %td= link_to timetableap.aircompany.airline_name_rus, timetableap.aircompany
        %td
          = timetableap.airport_start.town.city_rus
          %br/
          (
          = link_to timetableap.airport_start.name_rus, timetableap.airport_start
          )
        %td= timetableap.time_start.in_time_zone(timetableap.airport_start.time_zone).to_s(:time)
        %td
          = timetableap.airport_finish.town.city_rus
          %br/
          (
          = link_to timetableap.airport_finish.name_rus, timetableap.airport_finish
          )
        %td= timetableap.time_finish.in_time_zone(timetableap.airport_finish.time_zone).to_s(:time)
        - if timetableap.dateOfEndNav <= Date.current
          - bgcolor = "#550C1A"
        - elsif timetableap.dateOfEndNav > Date.current + 2.month and timetableap.dateOfEndNav < Date.current + 4.month
          - bgcolor = "#547C1A"
        - elsif timetableap.dateOfEndNav > Date.current + 1.month and timetableap.dateOfEndNav < Date.current + 2.month
          - bgcolor = "#544C1A"
        - elsif timetableap.dateOfEndNav >  Date.current and timetableap.dateOfEndNav < Date.current + 1.month
          - bgcolor = "#541C1A"
        %td{:bgcolor => bgcolor}
          = timetableap.dateOfStartNav.to_s(:long)
          %br
          = timetableap.dateOfEndNav.to_s(:long)
        %td
          - if timetableap.timeStart < timetableap.timeEnd
            = Time.diff(Time.parse(timetableap.timeStart.to_s), Time.parse(timetableap.timeEnd.to_s), '%H %N')[:diff]
          - else
            - timetableap.timeEnd = timetableap.timeEnd + 24.hour
            = Time.diff(Time.parse(timetableap.timeStart.to_s), Time.parse(timetableap.timeEnd.to_s), '%H %N')[:diff]
        %td
          - if policy(timetableap).new? && timetableap.parent_id.blank?
            = timetableap.childs.count
            \|
            = form_tag new_timetableap_path, :method => 'get', target:"_blank" do
              = hidden_field_tag 'parent_id', timetableap.id
              = hidden_field_tag 'way_start', timetableap.way_start
              = hidden_field_tag 'way_end', timetableap.way_end
              = hidden_field_tag 'aircraft_id', timetableap.aircraft_id
              = hidden_field_tag 'timeStart', timetableap.timeStart.to_s(:time)
              = hidden_field_tag 'timeEnd', timetableap.timeEnd.to_s(:time)
              = hidden_field_tag 'dateOfStartNav', timetableap.dateOfStartNav
              = hidden_field_tag 'dateOfEndNav', timetableap.dateOfEndNav
              
              = hidden_field_tag 's0', timetableap.s0
              = hidden_field_tag 'e0', timetableap.e0
              = hidden_field_tag 's1', timetableap.s1
              = hidden_field_tag 'e1', timetableap.e1
              = hidden_field_tag 's2', timetableap.s2
              = hidden_field_tag 'e2', timetableap.e2
              = hidden_field_tag 's3', timetableap.s3
              = hidden_field_tag 'e3', timetableap.e3
              = hidden_field_tag 's4', timetableap.s4
              = hidden_field_tag 'e4', timetableap.e4
              = hidden_field_tag 's5', timetableap.s5
              = hidden_field_tag 'e5', timetableap.e5
              = hidden_field_tag 's6', timetableap.s6
              = hidden_field_tag 'e6', timetableap.e6
              = submit_tag 'Добавить доп рейс.', class: "btn btn-primary"
          - if timetableap.parent_id != nil
            Совмещён с рейсом #{timetableap.parent.flight}
        %td
          - if policy(timetableap).update_dateoffinishdate?
            = link_to "Продлить", update_dateoffinishdate_timetableap_path(timetableap), remote: true
          - if policy(timetableap).edit?
            = link_to "Редактировать", edit_timetableap_path(timetableap)
          - if policy(timetableap).destroy?
            = link_to "Удалить", timetableap, method: :delete, data: { confirm: 'Are you sure?' }
= render "timetableaps/paginate_bottom"
= link_to 'Добавить основной авиарейс', new_timetableap_path
