<script text="javascript">
        $(document).ready(function(){
          $("#tt").tablesorter({
            widgets: ["zebra"],
            sortList:[[3,0]]
        });
      });
</script>
<%= render "layouts/per_page"%>
<%= render "timetableaps/paginate_top"%>
<table id="tt" class="tt pretty">
<thead>
  <tr>
    <th>Flight number</th>
    <th>Way start</th>
    <th>Way end</th>
    <th>Timestart</th>
    <th>Timeend</th>
    <th>Dateofstartnav</th>
    <th>Dateofendnav</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @timetableaps.each do |timetableap| %>
  <tr>
    <td><%= timetableap.aircompany.iata_code %> <%= timetableap.Flight_Number %></td>
    <td> <%= timetableap.airport.town.city_rus %> <%#= timetableap.city_rus_start %>
      <br />(<%= timetableap.airport.name_rus %>)</td>
    <td> <%= timetableap.apkey.airport.town.city_rus %> <%#= timetableap.city_rus_end %>
      <br />(<%= timetableap.apkey.airport.name_rus %>)</td>
    <td><%= timetableap.TimeStart.in_time_zone.to_s(:time) %></td>
    <td><%= timetableap.TimeEnd.in_time_zone.to_s(:time) %></td>
    <td><%= timetableap.DateOfStartNav %></td>
    <% if timetableap.DateOfEndNav <= Date.current
          bgcolor = "#550C1A"
    elsif timetableap.DateOfEndNav > Date.current + 2.month and timetableap.DateOfEndNav < Date.current + 4.month
          bgcolor = "#547C1A"
    elsif timetableap.DateOfEndNav > Date.current + 1.month and timetableap.DateOfEndNav < Date.current + 2.month
          bgcolor = "#544C1A"
    elsif timetableap.DateOfEndNav >  Date.current and timetableap.DateOfEndNav < Date.current + 1.month
          bgcolor = "#541C1A"
      end
    %>
    <td bgcolor=<%= bgcolor%>>
    <%= timetableap.DateOfEndNav %></td>
    <td><%= link_to 'Продлить рейс на 1 год', update_dateoffinishdate_timetableap_path(timetableap), remote: true%></td>
    <td><%= link_to 'Редактировать', edit_timetableap_path(timetableap) %></td>
    <td><%= link_to 'Удвлить', timetableap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to "добавить доп рейс к id=#{timetableap.id}", new_timetableap_sub_path(timetableap.id)%></td>
  </tr>
<% end %>
</tbody>
</table>
<%= render "timetableaps/paginate_bottom"%>
<%= render "layouts/per_page"%>
<%= link_to 'Добавить основной авиарейс', new_timetableap_path %>
