%h1 Editing timetableap
= link_to 'Show', @timetableap, class: 'btn btn-secondary'
||
= link_to 'Back', :back, class: 'btn btn-secondary'
= render 'form'
= link_to 'Show', @timetableap, class: 'btn btn-secondary'
||
= link_to 'Back', :back, class: 'btn btn-secondary'
