<h3>Информация о рейсе</h3>
<p>
  <b>Рейс:</b>
  <%= @timetableap.aircompany.iata_code %> <%= @timetableap.Flight_Number %>
</p>

<p>
  <b>Перевозчик:</b><br />
  <%= @timetableap.aircompany.airline_name_rus %> (<%= @timetableap.aircompany.airline_name_eng %>, базовый аэропорт <%= @timetableap.aircompany.airport.name_rus %>)
</p>

<table>
<tr>
  <td><b>Отправление:</b></td>
  <td><%= @timetableap.airport.town.city_rus %> (<%= @timetableap.airport.name_rus  %>) </td><td><%= @timetableap.timeStart.in_time_zone %></td>
</tr><tr>
  <td><b>Прибытие::</b></td>
  <td><%= @timetableap.apkey.airport.town.city_rus  %> (<%= @timetableap.apkey.airport.name_rus  %>) </td><td><%= @timetableap.timeEnd.in_time_zone %></td>
</tr>
</table>
<p>
  <b>Время в пути:</b>
  <%= Time.diff(Time.parse(@timetableap.timeStart.to_s), Time.parse(@timetableap.timeEnd.to_s), '%H %N')[:diff]%>
</p>
<p>
  <b>Статус:</b>
  <% if @timetableap.timeStart < Time.zone.now and @timetableap.timeEnd < Time.zone.now%> Прибыл в <%=@timetableap.apkey.airport.town.city_rus%> 
  <%elsif @timetableap.timeStart < Time.zone.now and @timetableap.timeEnd > Time.zone.now%> В полёте.
  <%else%> Ожидает. <%end%>
</p>

<p>
  <b>Type of plane:</b>
  <%= @timetableap.TypeOfPlane %>
</p>

<p>
  <b>Выполняется самолётом авиакомпании</b><br>
  <i><%= @timetableap.aircompany.airline_name_rus%></i>
  (<i><%= @timetableap.aircompany.airline_name_eng%></i>)
</p>

<p><a href="">Другие рейсы по данному направлению. </a></p>
