%h1 Поиск авиарейсов
= simple_form_for :timetableaps_path, :method => 'get' do |f|
  %p= f.input :airport_start, :as => :autocomplete, :source_query => autocomplete_airport_city_rus_airports_path, 'data-auto-focus' => true, :items => 20, :value => params[:timetableaps_path][:airport_start_id]
  %p= f.input :airport_finish, :as => :autocomplete, :source_query => autocomplete_airport_city_rus_airports_path, 'data-auto-focus' => true, :items => 20, :value => params[:timetableaps_path][:airport_finish_id]
  %p= f.input :aircompany, :as => :autocomplete, :source_query => autocomplete_aircompany_airline_name_rus_aircompanies_path, :value => params[:timetableaps_path][:aircompany_id]
  %p
    = label_tag :date, "По дате окончания:"
    = select_date(@fc_start, :prefix => 'fc_start')
    = select_date(@fc_end, :prefix => 'fc_end')
  %p
    = label_tag :aircomapny, "По номеру рейса:"
    = number_field_tag :flight_number,  params[:flight_number]
  %p
    = submit_tag "Search", :name => nil
  = render "layouts/per_page"
  #timetableaps= render "timetableaps/timetableaps"
