= simple_form_for :search_tt, :method => 'get' do |f|
  .form-inputs
    - if  params[:search_tt].nil?
      = f.input :town_start, :as => :autocomplete, :source_query => autocomplete_town_city_rus_towns_path, 'data-auto-focus' => true, :items => 20
      = f.input :town_finish, :as => :autocomplete, :source_query => autocomplete_town_city_rus_towns_path, 'data-auto-focus' => true, :items => 20
    - else
      = f.input :town_start, :as => :autocomplete, :source_query => autocomplete_town_city_rus_towns_path, 'data-auto-focus' => true, :items => 20, :value => params[:search_tt][:town_start_id]
      = f.input :town_finish, :as => :autocomplete, :source_query => autocomplete_town_city_rus_towns_path, 'data-auto-focus' => true, :items => 20, :value => params[:search_tt][:town_finish_id]
    = select_tag :aircraft, options_from_collection_for_select(@aircrafts, "id", "aircraft_model", selected: params[:aircraft]), class: 'form-control'
  .form-actions
    = f.button :submit, "Search Flights", class: "btn btn-info"
-unless params['search_tt'].nil?
  -unless params['search_tt']['town_start_id'].nil? && params['search_tt']['town_finish_id'].nil? || @timetableaps.nil?
    %a{:class => "btn btn-info", :href => "/search_tt?utf8=%E2%9C%93&search_tt%5Btown_start_id%5D=#{params['search_tt']['town_finish_id']}&search_tt%5Btown_start%5D=#{params['search_tt']['town_finish']}&search_tt%5Btown_finish_id%5D=#{params['search_tt']['town_start_id']}&search_tt%5Btown_finish%5D=#{params['search_tt']['town_start']}&aircraft=#{params['aircraft']}&commit=Search+Flights"} Обратные рейсы
    = render "airports/ap_dist_result"
    = render "timetableaps/filters"
    #timetableaps= render "timetableaps/timetableaps"

