= render "layouts/per_page"
= form_tag search_tt_path, :method => 'get', :id => "tt_search" do
  %p
    = label_tag :start_ap, "Откуда:"
    = autocomplete_field_tag 'start', '', autocomplete_town_accent_city_towns_path, :size => 20, 'data-auto-focus' => true, :update_elements => {:id => '#start_ap'}, :value => params[:start], autofocus:true
    = hidden_field_tag :start_ap, params[:start_ap]
    -if params[:start_ap] != nil
      - @airports1.each do |a|
        = check_box_tag "aps1[]", a.id, true
        = a.name_rus
  %p
    = label_tag :end_ap, "Куда:"
    = hidden_field_tag :end_ap, params[:end_ap]
    = autocomplete_field_tag 'end', '', autocomplete_town_accent_city_towns_path, :size => 20, 'data-auto-focus' => true, :update_elements => {:id => '#end_ap'}, :value => params[:end], autofocus:true
    -if params[:end_ap] != nil
      - @airports2.each do |a|  
        = check_box_tag "aps2[]", a.id, true
        = a.name_rus
  = submit_tag "Search", :name => nil
  = render "airports/ap_dist_result"
  #timetableaps= render "timetableaps/timetableaps"
