= render "layouts/per_page"
= form_tag search_tt_path, :method => 'get', :id => "tt_search", remote: true do
  %p
    = label_tag :start_ap, "Откуда:"
    = select_tag :start_ap, options_from_collection_for_select(Airport.where(iso_code: 'EZ').order(:city_rus).group(:town_id), "town_id", "city_rus", params[:start_ap]), prompt: "Select start Town"
    -if params[:start_ap] != nil
      - @airports1.each do |a|
        = check_box_tag "aps1[]", a.id, true
        = a.name_rus
  %p
    = label_tag :end_ap, "Куда:"
    = select_tag :end_ap, options_from_collection_for_select(Airport.where(iso_code: 'EZ').order(:city_rus).group(:town_id), "town_id", "city_rus", params[:end_ap]), prompt: "Select finish Town"
    -if params[:end_ap] != nil
      - @airports2.each do |a|  
        = check_box_tag "aps2[]", a.id, true
        = a.name_rus
  = submit_tag "Search", :name => nil
  = render "airports/ap_dist_result"
  #timetableaps= render "timetableaps/timetableaps"
