:javascript
  //$(document).ready(function(){
  //   $("#new_timetableap").ajaxForm(function() {
  //     $("#new_tt").load("#");
  //   });
  //});
%p#notice= notice
- if @timetableap.parent_id.blank?
  = form_tag new_timetableap_path, :method => 'get' do
    = hidden_field_tag 'flight_number', @timetableap.flight_number
    = hidden_field_tag 'aircompany_id', @timetableap.aircompany_id
    = hidden_field_tag 'way_start', @timetableap.way_start
    = hidden_field_tag 'way_end', @timetableap.way_end
    = hidden_field_tag 'timeStart', @timetableap.timeStart
    = hidden_field_tag 'timeEnd', @timetableap.timeEnd
    = hidden_field_tag 'dateOfStartNav', @timetableap.dateOfStartNav
    = hidden_field_tag 'dateOfEndNav', @timetableap.dateOfEndNav
    = hidden_field_tag 'aircraft_id', @timetableap.aircraft_id
    = hidden_field_tag 's0', @timetableap.s0
    = hidden_field_tag 'e0', @timetableap.e0
    = hidden_field_tag 's1', @timetableap.s1
    = hidden_field_tag 'e1', @timetableap.e1
    = hidden_field_tag 's2', @timetableap.s2
    = hidden_field_tag 'e2', @timetableap.e2
    = hidden_field_tag 's3', @timetableap.s3
    = hidden_field_tag 'e3', @timetableap.e3
    = hidden_field_tag 's4', @timetableap.s4
    = hidden_field_tag 'e4', @timetableap.e4
    = hidden_field_tag 's5', @timetableap.s5
    = hidden_field_tag 'e5', @timetableap.e5
    = hidden_field_tag 's6', @timetableap.s6
    = hidden_field_tag 'e6', @timetableap.e6
    = submit_tag 'Добавить обратный рейс.', class: "btn btn-primary"
%p
  %b Flight number:
  = @timetableap.flight
  - if @timetableap.parent_id
    (Совмещён с #{@timetableap.parent.flight})
%p
  %b Aircompany:
  = @timetableap.aircompany.airline_name_rus
  (#{@timetableap.aircompany.airline_name_rus}, базовый аэропорт #{@timetableap.aircompany.airport.name_rus})
%p
  %b Way start:
  #{@timetableap.airport_start.city_rus} (#{@timetableap.airport_start.name_rus})
%p
  %b Way end:
  #{@timetableap.airport_finish.city_rus} (#{@timetableap.airport_finish.name_rus})
%p
  %b Termstart:
  = @timetableap.TermStart
%p
  %b Gatestart:
  = @timetableap.GateStart
%p
  %b Termend:
  = @timetableap.TermEnd
%p
  %b Gateend:
  = @timetableap.GateEnd
%p
  %b Typeofplane:
  = @timetableap.aircraft.aircraft_model if @timetableap.aircraft
%p
  %b Timestart:
  = @timetableap.timeStart.in_time_zone(@timetableap.airport_start.time_zone)
%p
  %b Timeend:
  = @timetableap.timeEnd.in_time_zone(@timetableap.airport_finish.time_zone)
%p
  %b Dateofstartnav:
  = @timetableap.dateOfStartNav
%p
  %b Dateofendnav:
  = @timetableap.dateOfEndNav
%p
  %b S1:
  = @timetableap.s1
%p
  %b S2:
  = @timetableap.s2
%p
  %b S3:
  = @timetableap.s3
%p
  %b S4:
  = @timetableap.s4
%p
  %b S5:
  = @timetableap.s5
%p
  %b S6:
  = @timetableap.s6
%p
  %b S0:
  = @timetableap.s0
%p
  %b E1:
  = @timetableap.e1
%p
  %b E2:
  = @timetableap.e2
%p
  %b E3:
  = @timetableap.e3
%p
  %b E4:
  = @timetableap.e4
%p
  %b E5:
  = @timetableap.e5
%p
  %b E6:
  = @timetableap.e6
%p
  %b E0:
  = @timetableap.e0
= link_to 'Edit', edit_timetableap_path(@timetableap)
|
= link_to 'Back', timetableaps_path
