<% @tts.each do |tt| %>
<p>  <%= tt.aircompany.iata_code%> || <%= tt.Flight_Number%> || <%= tt.airport.town.city_rus%> || <%= tt.apkey.airport.town.city_rus%>|| <%= tt.TimeStart.in_time_zone.to_s(:time)%>  || <%= tt.TimeEnd.in_time_zone.to_s(:time)%></p>
<%end%>
