  <%= form_for @user, validate: true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
    </div>

  <div class="field">
    <%= f.label :username%>
    <%= f.text_field :username%>
  </div>

  <div class="field">
    <%= f.label :email%>
    <%= f.text_field :email%>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>


  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone %>
  </div>

  <div class="field">
    <%#= f.label :town_id%>
    <%#= autocomplete_field_tag 'town', '', autocomplete_town_accent_city_country_towns_path, :size => 30, 'data-auto-focus' => true, :update_elements => {:id => '#user_town_id'}, :value => params[:town] %>
    <%#= f.hidden_field :town_id%>
  </div>

  <div>
    <%= f.label :user_theme %>
    <%= f.select :user_theme_id, UserTheme.order(:theme).collect{|item| [item.theme, item.id]}%>
  </div>


  <div class="field">
    <%= f.label :role%>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
