%tbody
  - @users.each do |user|
    %tr
      - unless user.unknown?
        %td
          .round-image-50
            = image_tag(user.avatar.url(:thumb_80), :class => 'img-circle')
        %td
          = link_to user.username, user
        %td
          = link_to user.email, user
        %td
          = user.created_at.to_s
        %td
          = user.current_sign_in_at.to_s
        %td
          = user.role
        %td
          - if policy(user).edit?
            = link_to "Edit", edit_user_path(user), :class => 'btn btn-info' unless user.unknown?
            |
          - if policy(user).destroy?
            = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger') unless user == current_user || user.unknown?
