%h3
  User #{@user.username} (#{@user.email})
= image_tag @user.avatar.size_300, :class => 'img-circle'
%p
  %b Имя:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Time_zone:
  = @user.time_zone
  = ActiveSupport::TimeZone.new(@user.time_zone).formatted_offset
%p
  %b Town:
  = @user.town.accent_city
%p
  %b Статус:
  = @user.role
  = link_to @user.aircompany.airline_name_rus, @user.aircompany unless @user.aircompany_id == 1
%p
  %b Текущий адрес:
  = @user.current_sign_in_ip
%p
  %b Адрес предыдущего захода:
  = @user.last_sign_in_ip
%p
  %b Время предыдущего захода:
  = @user.last_sign_in_at
- if policy(@user).index?
  = link_to "Все пользователи", users_path, class: "btn btn-primary"
||
- if policy(@user).edit?
  = link_to "Редактировать пользователя", edit_user_path(@user), class: "btn btn-primary"
