= form_for @airport_air_traffic,  :html => { :class => 'form form-horizontal' } do |f|
  - if @airport_air_traffic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@airport_air_traffic.errors.count, "error")} prohibited this airport_air_traffic from being saved:"
      %ul
        - @airport_air_traffic.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, class: "form-control", required: true
  .form-group
    = f.label :klass, :class => 'control-label'
    .controls
      = f.number_field :klass, class: "form-control", required: true
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), airport_air_traffics_path, :class => 'btn btn-default'
  = link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default'

