<h3>Информация о рейсе</h3>
<p>
  <b>Рейс:</b>
  <%= @timetableap_sub.aircompany.iata_code %> <%= @timetableap_sub.Flight_Number %>
</p>

<p>
  <b>Перевозчик:</b><br />
  <%= @timetableap_sub.aircompany.airline_name_rus %> (<%= @timetableap_sub.aircompany.airline_name_eng %>, базовый аэропорт <%= @timetableap_sub.aircompany.airport.name_rus %>)
</p>

<% if @timetableap_sub.timetableap.TimeStart < @timetableap_sub.timetableap.TimeEnd %>
<%timeStart = @timetableap_sub.timetableap.TimeStart.change(:year=>Time.zone.now.year, :month=>Time.zone.now.month,:day=>Time.zone.now.day)%>
<%timeEnd = @timetableap_sub.timetableap.TimeEnd.change(:year=>Time.zone.now.year, :month=>Time.zone.now.month,:day=>Time.zone.now.day)%>
<% else %>
<%timeStart = @timetableap_sub.timetableap.TimeStart.change(year: (Time.zone.now - 1.day).year, month: (Time.zone.now - 1.day).month, day: (Time.zone.now - 1.day).day)%>
<%timeEnd = @timetableap_sub.timetableap.TimeEnd.change(year: Time.zone.now.year, month: Time.zone.now.month, day: Time.zone.now.day)%>
<% end %>
<table>
<tr>
  <td><b>Отправление:</b></td>
  <td><%= @timetableap_sub.timetableap.airport.town.city_rus %> (<%= @timetableap_sub.timetableap.airport.name_rus  %>) </td><td><%= timeStart.in_time_zone(@timetableap_sub.timetableap.airport.time_zone) %></td>
</tr><tr>
  <td><b>Прибытие::</b></td>
  <td><%= @timetableap_sub.timetableap.apkey.airport.town.city_rus  %> (<%= @timetableap_sub.timetableap.apkey.airport.name_rus  %>) </td><td><%= timeEnd.in_time_zone(@timetableap_sub.timetableap.apkey.airport.time_zone) %></td>
</tr>
</table>
<p>
  <b>Время в пути:</b>
  <%= Time.diff(Time.parse(timeStart.to_s), Time.parse(timeEnd.to_s), '%H %N')[:diff]%>
</p>
<p>
  <b>Статус:</b>
  <% if timeStart < Time.zone.now and timeEnd < Time.zone.now%> Прибыл в <%=@timetableap_sub.timetableap.apkey.airport.town.city_rus%> 
  <%elsif timeStart < Time.zone.now and timeEnd > Time.zone.now%> В полёте.
  <%else%> Ожидает. <%end%>
</p>

<p>
  <b>Type of plane:</b>
  <%#= @timetableap_sub.timetableap.TypeOfPlane %>
</p>

<p>
  <b>Выполняется самолётом авиакомпании</b><br>
  <i><%= @timetableap_sub.timetableap.aircompany.airline_name_rus%></i>
  (<i><%= @timetableap_sub.timetableap.aircompany.airline_name_eng%></i>)
</p>

<p><a href="">Другие рейсы по данному направлению. </a></p>
