%h3 Информация о рейсе
%p
  %b Рейс:
  = @timetableap_sub.aircompany.iata_code
  = @timetableap_sub.Flight_Number
%p
  %b Перевозчик:
  %br/
  = @timetableap_sub.aircompany.airline_name_rus
  (#{@timetableap_sub.aircompany.airline_name_eng}, базовый аэропорт #{@timetableap_sub.aircompany.airport.name_rus})
- if @timetableap_sub.timetableap.TimeStart < @timetableap_sub.timetableap.TimeEnd
  - timeStart = @timetableap_sub.timetableap.TimeStart.change(:year=>Time.zone.now.year, :month=>Time.zone.now.month,:day=>Time.zone.now.day)
  - timeEnd = @timetableap_sub.timetableap.TimeEnd.change(:year=>Time.zone.now.year, :month=>Time.zone.now.month,:day=>Time.zone.now.day)
- else
  - timeStart = @timetableap_sub.timetableap.TimeStart.change(year: (Time.zone.now - 1.day).year, month: (Time.zone.now - 1.day).month, day: (Time.zone.now - 1.day).day)
  - timeEnd = @timetableap_sub.timetableap.TimeEnd.change(year: Time.zone.now.year, month: Time.zone.now.month, day: Time.zone.now.day)
%table
  %tr
    %td
      %b Отправление:
    %td
      = @timetableap_sub.timetableap.airport.town.city_rus
      (#{@timetableap_sub.timetableap.airport.name_rus})
    %td= timeStart.in_time_zone(@timetableap_sub.timetableap.airport.time_zone)
  %tr
    %td
      %b Прибытие::
    %td
      = @timetableap_sub.timetableap.apkey.airport.town.city_rus
      (#{@timetableap_sub.timetableap.apkey.airport.name_rus})
    %td= timeEnd.in_time_zone(@timetableap_sub.timetableap.apkey.airport.time_zone)
%p
  %b Время в пути:
  = Time.diff(Time.parse(timeStart.to_s), Time.parse(timeEnd.to_s), '%H %N')[:diff]
%p
  %b Статус:
  - if timeStart < Time.zone.now and timeEnd < Time.zone.now
    Прибыл в #{@timetableap_sub.timetableap.apkey.airport.town.city_rus}
  - elsif timeStart < Time.zone.now and timeEnd > Time.zone.now
    В полёте.
  - else
    Ожидает.
%p
  %b Type of plane:
%p
  %b Выполняется самолётом авиакомпании
  %br/
  %i= @timetableap_sub.timetableap.aircompany.airline_name_rus
  (
  %i>= @timetableap_sub.timetableap.aircompany.airline_name_eng
  )
%p
  %a{:href => ""} Другие рейсы по данному направлению.
