<table class='pretty'>
  <tr>
    <th><%= sortable "iata_code"%></th>
    <th><%= sortable "icao_code"%></th>
    <th><%= sortable "name_rus"%></th>
    <th><%= sortable "city_rus"%></th>
    <th><%= sortable "iso_code"%></th>
    <th>Расписание и табло.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @airports.each do |airport| %>
  <tr>
        <td><%= airport.iata_code %></td>
        <td><%= airport.icao_code %></td>
      <% if  airport.name_rus.blank?
           airport.name = airport.name_eng
         else
           airport.name = airport.name_rus
         end%>
      <% if  airport.city_rus.blank?
           airport.city_name = airport.city_eng
         else
           airport.city_name = airport.city_rus
         end%>
      <% if  airport.town.blank?
           city = airport.city_name
         else
           if airport.town.city_rus.blank?
             city = airport.town.accent_city
           else
             city = airport.town.city_rus
           end
         end%>
        <td><%= link_to airport.name, airport%></td>
        <td><%= link_to city, country_town_path(airport.country, airport.town_id) unless airport.town.blank?%></td>
        <td><%= airport.country.country_iata_code %></td>
        <td nowrap><a href="/airports/<%= airport.id%>/aptt" >вылет/прилёт</a>
        <% if policy(airport).edit? %>
          <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <%end%>
        <% if policy(airport).destroy? %>
          <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: "Вы уверены, что хотите удалить аэропорт "+airport.name_rus+" в городе "+ airport.city_rus} %></td>
        <%end%>
  </tr>
<% end %>
</table>

