.dist
  distance #{@dist} km
  %BR
  Initial bearing (direction) #{@sbear}
  %BR 
  -if params[:start_ap] != nil and params[:end_ap] != nil
    %p
      #{@ap1.name_rus} - #{@p1}
    %p
      #{@ap2.name_rus} - #{@p2}

