%h3 Расчёт координат от расстояния от города:
= form_tag '', method: "get" do
  .form-group
    = label_tag "Dist From Town (km):", nil, class: "col-lg-2 col-md-2 col-sm-2 col-xs-4 control-label"
    .controls.col-lg-2.col-md-2.col-sm-2.col-xs-3
      = text_field_tag :dist, params[:dist], class: 'form-control'
  .form-group
    = label_tag "Ugol From Town (dg):", nil, class: "col-lg-2 col-md-2 col-sm-2 col-xs-4 control-label"
    .controls.col-lg-2.col-md-2.col-sm-2.col-xs-3
      = text_field_tag :ugol, params[:ugol], class: 'form-control'
    = hidden_field_tag 'town_id', params[:town_id]
    = hidden_field_tag 'city_rus', params[:city_rus]
    = hidden_field_tag 'city_eng', params[:city_eng]
    = hidden_field_tag 'country_id', params[:country_id]
  .form-group
    = submit_tag "Расчитать координаты", :name => nil, class: 'btn btn-primary'


- if (params[:ugol] != nil && params[:ugol] != '') && (params[:dist] != nil && params[:dist] != '') && (params[:town_id] != nil && params[:town_id] != '')
  - @town = Town.find(params[:town_id])
  - dist = params[:dist].to_f
  - bearing = params[:ugol].to_f
  - @p1 = GeoPoint.new  @town.latitude.to_f, @town.longitude.to_f
  - dest = @p1.destination_point(bearing, dist).to_s.split(/,/)
  = @lat = dest[0].parse_dms
  = @lon = dest[1].parse_dms

%h3 Форма добавления аэропорта:
= form_for @airport do |f|
  - if @airport.errors.any?
    #error_explanation
      %h2
        = pluralize(@airport.errors.count, "error")
        prohibited this airport from being saved:
      %ul
        - @airport.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :iata_code
    %br/
    = f.text_field :iata_code
  .field
    = f.label :icao_code
    %br/
    = f.text_field :icao_code
  .field
    = f.label :name_rus
    %br/
    = f.text_field :name_rus
  .field
    = f.label :name_eng
    %br/
    = f.text_field :name_eng
  - if params[:town_id] != nil
    .field
      = label_tag "city"
      = text_field_tag 'city', params[:city_eng], class: 'form-control', disabled: true
      = f.hidden_field :town_id, value: params[:town_id]
  .field
    = f.label :city_rus
    %br/
    - if params[:city_rus].blank?
      = f.text_field :city_rus
    - else
      = f.text_field :city_rus, value: params[:city_rus]
  .field
    = f.label :city_eng
    %br/
    - if params[:city_eng].blank?
      = f.text_field :city_eng
    - else
      = f.text_field :city_eng, value: params[:city_rus]
  .field
    = f.label :gmt_offset
    %br/
    = f.text_field :gmt_offset
  .field
    = f.label :time_zone
    %br/
    = f.time_zone_select :time_zone
  .field
    = f.label :iso_code
    %br/
    = f.text_field :iso_code
  .field
    = f.label :country_id, class: "col-lg-2 col-md-2 col-sm-2 col-xs-4 control-label"
    %br/
    .controls.col-lg-4.col-md-4.col-sm-4.col-xs-8
      - if params[:country_id].blank?
        = f.select :country_id, Country.order(:country_name).collect{|item| [item.country_name, item.id]}, {}, class: 'form-control'
      - else
        = f.select :country_id, Country.order(:country_name).collect{|item| [item.country_name, item.id]}, {:selected => params[:country_id]}, {class: 'form-control'}
  .field
    = f.label :latitude
    %br/
    - if @lat
      = f.text_field :latitude, value: @lat, class: 'form-control'
    - else
      = f.text_field :latitude, class: 'form-control'
  .field
    = f.label :longitude
    %br/
    - if @lon
      = f.text_field :longitude, value: @lon, class: 'form-control'
    - else
      = f.text_field :longitude, class: 'form-control'
  .field
    = f.label :runway_length
    %br/
    = f.text_field :runway_length
  .field
    = f.label :runway_elevation
    %br/
    = f.text_field :runway_elevation
  .field
    = f.label :runnway_coll
    %br/
    = f.text_field :runnway_coll
  .field
    = f.label :phone
    %br/
    = f.text_field :phone
  .field
    = f.label :fax
    %br/
    = f.text_field :fax
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :website
    %br/
    = f.text_field :website
  .field
    = f.label :TerminalsColl
    %br/
    = f.text_field :TerminalsColl
  .field
    = f.label :Terminals
    %br/
    = f.text_field :Terminals
  .field
    = f.label :Dist_to_town
    %br/
    = f.text_field :Dist_to_town
  .actions
    = f.submit
