= form_for @airport, validate: true do |f|
  - if @airport.errors.any?
    #error_explanation
      %h2
        = pluralize(@airport.errors.count, "error")
        prohibited this airport from being saved:
      %ul
        - @airport.errors.full_messages.each do |msg|
          %li= msg
  .field-form
    .field-form-section
      .field
        = f.label :iata_code
        = f.text_field :iata_code
      .field
        = f.label :icao_code
        = f.text_field :icao_code
      .field
        = f.label :name_rus
        = f.text_field :name_rus
      .field
        = f.label :name_eng
        = f.text_field :name_eng
      .field
        = f.label :city_rus
        = f.text_field :city_rus
      .field
        = f.label :city_eng
        = f.text_field :city_eng
      .field
        = f.label :town_id
        = autocomplete_field_tag 'town', '', autocomplete_town_accent_city_towns_path, :size => 30, 'data-auto-focus' => true, :update_elements => {:id => '#airport_town_id'}, :value => params[:town]
        = f.hidden_field :town_id
      .field
        = f.label :gmt_offset
        = f.text_field :gmt_offset
      .field
        = f.label :time_zone
        = time_zone_select "airport", "time_zone", ActiveSupport::TimeZone.all
      .field
        = f.label :iso_code
        = f.text_field :iso_code
      .field
        = f.label :country_id
        = f.select :country_id, Country.order(:country_name).collect{|item| [item.country_name, item.id]}
    .field-form-section
      .field
        = f.label :latitude
        = f.text_field :latitude
      .field
        = f.label :longitude
        = f.text_field :longitude
      .field
        = f.label :runway_length
        = f.text_field :runway_length
      .field
        = f.label :runway_elevation
        = f.text_field :runway_elevation
      .field
        = f.label :runnway_coll
        = f.text_field :runnway_coll
      .field
        = f.label :phone
        = f.text_field :phone
      .field
        = f.label :fax
        = f.text_field :fax
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :website
        = f.text_field :website
      .field
        = f.label :TerminalsColl
        = f.text_field :TerminalsColl
      .field
        = f.label :Terminals
        = f.text_field :Terminals
      .actions
        = f.submit
