- sun_time = SunTime.new(DateTime.current.in_time_zone(@airport.time_zone), @airport.latitude.to_f, @airport.longitude.to_f)
%p
  %b Статус:
  = @airport.airport_state.name if @airport.airport_state
%p
  %b Статус по пассажирообороту:
  = @airport.airport_air_traffic.name if @airport.airport_air_traffic
%p
  %b Координаты:
  #{@airport.latitude} #{@airport.longitude}
%p
  %b Ближайший город:
  #{link_to @airport.town.city_rus, country_town_path(@airport.country,@airport.town) unless @airport.town.blank?} (г. #{link_to @airport.town.accent_city, country_town_path(@airport.country,@airport.town) unless @airport.town.blank?})
%p
  %b Местное время:
  = DateTime.current.in_time_zone(@airport.time_zone)
%p
  %b Восход:
  = sr = sun_time.sunrise.in_time_zone(@airport.time_zone).to_s(:time) if sun_time.sunrise != nil
  -#= sr = SunRiseSet.new(DateTime.current.in_time_zone(@airport.time_zone), @airport.latitude.to_f, @airport.longitude.to_f).sunrise.in_time_zone(@airport.time_zone).to_s(:time)
%p
  %b Закат:
  = ss = sun_time.sunset.in_time_zone(@airport.time_zone).to_s(:time) if sun_time.sunset != nil
  -#= ss = SunRiseSet.new(DateTime.current.in_time_zone(@airport.time_zone), @airport.latitude.to_f, @airport.longitude.to_f).sunset.in_time_zone(@airport.time_zone).to_s(:time)
%p
  %b Астрономический полдень:
  -#= SunRiseSet.new(DateTime.current.in_time_zone(@airport.time_zone), @airport.latitude.to_f, @airport.longitude.to_f).solNoon.in_time_zone(@airport.time_zone).to_s(:time)
%p
  %b Долгота дня:
  - if sr != nil && ss != nil
    = Time.diff(Time.parse(sr.to_s), Time.parse(ss.to_s), '%H %N')[:diff]
%p
  %b Расстояние до Ежинска а/п Ежово-1:
  - @ap1 = Airport.find(25832)
  - @p1 = GeoPoint.new  @ap1.latitude.to_f, @ap1.longitude.to_f
  - @p2 = GeoPoint.new  @airport.latitude.to_f, @airport.longitude.to_f
  - @dist = @p1.distance_to(@p2)
  - @fbear = @p2.bearing_to(@p1)
  = @dist
  km
%b Азимут Ежинска а/п Ежово-1:
%p
  = @fbear
