.tablo_buttron
  %a{:href => "/airports/#{@airport.id}/", :class => 'btn btn-primary'} Общая информация
  %br
  %a{:href => "/airports/#{@airport.id}/tablo/full/out/", :class => 'btn btn-primary'} вылет
  %a{:href => "/airports/#{@airport.id}/tablo/full/in/", :class => 'btn btn-primary'} прилёт
  %a{:href => "/airports/#{@airport.id}/tablo/full/", :class => 'btn btn-primary'} Общее
  %br
  %a{:href => "/airports/#{@airport.id}/tablo/short/out/", :class => 'btn btn-primary'}вылет (красткая таблица)
  %a{:href => "/airports/#{@airport.id}/tablo/short/in/", :class => 'btn btn-primary'} прилёт (красткая таблица)
  %a{:href => "/airports/#{@airport.id}/tablo/short/", :class => 'btn btn-primary'} Общее (красткая таблица)
  %br
  = link_to "Загруженность аэропорта Вылет", "/airports/#{@airport.id}/apload/out/", :class => 'btn btn-primary'
  = link_to "Загруженность аэропорта Прибытие", "/airports/#{@airport.id}/apload/in/", :class => 'btn btn-primary'
  = link_to "Загруженность аэропорта Общая", "/airports/#{@airport.id}/apload/", :class => 'btn btn-primary'
  %br
  = link_to "Статистика загруженности по часам", "/airports/#{@airport.id}/ap_stats/", :class => 'btn btn-primary'
