- @timetableaps.each do |timetableap|
  %tr
    %td{:valign => 'middle'}= timetableap.timeIN.in_time_zone(@airport.time_zone).to_s(:time)
    %td
      %table.tablo
        %tr
          %td{:width => 70}
            = link_to timetableap.aircompany.iata_code, timetableap.aircompany
            = link_to timetableap.flight_number, flight_state_timetableap_path(timetableap)
          %td.specifictd.tablo= link_to timetableap.aircompany.airline_name_eng, timetableap.aircompany
        - timetableap.childs.each do |child|
          %tr
            %td
              = link_to child.aircompany.iata_code, child.aircompany, title => child.aircompany.airline_name_rus
              = link_to child.flight_number, flight_state_timetableap_path(child)
            %td.specifictd.tablo= link_to child.aircompany.airline_name_eng, timetableap.aircompany
    %td.specifictd.tablo
      #{link_to timetableap.f_ap.town.accent_city, timetableap.f_ap}/#{timetableap.f_ap.iata_code}
      (#{timetableap.f_ap.town.country.country_iata_code})
    %td.specifictd.tablo
      .tt_status(style = 'background-color: #{timetableap.bgcolor}')= timetableap.fstatus

