- @timetableaps.each do |timetableap|
  %tr
    %td= timetableap.timeIN.in_time_zone(@airport.time_zone).to_s(:time)
    %td
      %table.child
        %tr
          %td{:width => 52}
            - if timetableap.aircompany.avatar.thumb_50.url
              = image_tag timetableap.aircompany.avatar.thumb_50.url
          %td.flight-parent
            = link_to timetableap.aircompany.iata_code, timetableap.aircompany, title => timetableap.aircompany.airline_name_rus
            = link_to timetableap.flight_number, flight_state_timetableap_path(timetableap)
        - timetableap.childs.each do |child|
          %tr
            %td
              - if child.aircompany.avatar.thumb_50.url
                = image_tag child.aircompany.avatar.thumb_50.url
            %td.flight-child
              = link_to child.aircompany.iata_code, child.aircompany, title => child.aircompany.airline_name_rus
              = link_to child.flight_number, flight_state_timetableap_path(child)
    %td
      #{link_to timetableap.f_ap.town.city_rus, timetableap.f_ap}/#{timetableap.f_ap.iata_code}
      .tt_status(style = 'background-color: #{timetableap.bgcolor}')= timetableap.fstatus

