%table#tt.tablesorter.table.table-striped.table-hover
  %thead
    %tr
      %th
        %p Time local
        %p (Time Ezhinsk)
      %th Flight
      %th Info
      %th State
  %tbody
    - @timetableaps.each do |timetableap|
      %tr.tablo
        %td#tt_time
          = timetableap.timeIN.in_time_zone(@airport.time_zone).to_s(:time)
          %br
          %em (#{timetableap.timeIN.in_time_zone("Ezhinsk").to_s(:time)})
        %td#tt_flight
          %table
            %tr
              %td{:width => 80}
                - if timetableap.aircompany.avatar.thumb_80.url
                  = image_tag timetableap.aircompany.avatar.thumb_80.url
                  %p= link_to timetableap.aircompany.airline_name_rus, timetableap.aircompany
              %td{:width => 160}
                .flight-parent
                  = link_to timetableap.aircompany.iata_code, timetableap.aircompany, :title => timetableap.aircompany.airline_name_rus
                  = link_to timetableap.flight_number, flight_state_timetableap_path(timetableap), :remote => true, 'data-toggle' => "modal", 'data-target' => "#modal-#{timetableap.id}", 'data-keyboard' => "true"
                  .modal.fade{:id => "modal-#{timetableap.id}", :role => "dialog", :aria-labelledby => "timetableapModalLabel", :aria-hidden => "true", :tabindex => '-1'}
                    .modal-dialog{:role => "document"}
                      .modal-content
                        .modal-header
                          %button.close{'data-dismiss' => "modal", 'aria-label' => "Close"}
                            %span{'aria-hidden' => "true"} &times;
                          %h4.modal-title Info about #{timetableap.flight}
                        .modal-body
                          .flight-state{:id => "#{timetableap.id}"} FLIGHT!!!
                        .modal-footer
                          %button.btn.btn-info{'data-dismiss'=> "modal", :onclick => "$('.message-body').empty();"} Close
            %tr
              - timetableap.childs.each do |child|
                %td
                  - if child.aircompany.avatar.thumb_50.url
                    = image_tag child.aircompany.avatar.thumb_50.url
                    %p= link_to child.aircompany.airline_name_rus, child.aircompany
                %td
                  .flight-child
                    = link_to child.aircompany.iata_code, child.aircompany, :title => child.aircompany.airline_name_rus
                    = link_to child.flight_number, flight_state_timetableap_path(child), data: { no_turbolink: true }, :onclick => "return hs.htmlExpand(this, {objectType: 'ajax'})"
        %td
          %p#twrus
            #{timetableap.airport_start.town.city_rus} - #{timetableap.airport_finish.town.city_rus}
            #aprus (#{link_to timetableap.airport_start.name_rus, timetableap.airport_start}) - (#{link_to timetableap.airport_finish.name_rus, timetableap.airport_finish})
          #tt_al_info
            Выполняется самолётом:
            %strong
              = (timetableap.parent_id.blank?) ? (link_to timetableap.aircompany.airline_name_rus, timetableap.aircompany) : (link_to timetableap.parent.aircompany.airline_name_rus, timetableap.parent.aircompany)
            .tt_status= timetableap.fstatus
        %td#tt_status
          #div{:class => "btn btn-tt btn-lg btn-block btn-#{timetableap.bgcolor}"}
            %span= raw timetableap.fstatus

:javascript
  jQuery(document).ready(function(){
    setInterval(foo, 60000);
    foo();
    function foo () {
    $('#tda').load("# #tt", function() {
      $('#tt').DataTable( {
        paging:   false,
        autoWidth: false,
        ordering: true,
        info:     false,
        stateSave: true,
        searching: false,
        order: [[ 0, "asc" ]]
      });
    });}
  });
