%h2= @title
= render "airports/tablo_links"
%table.table
  - 0.step(23, 01) do |h|
    %tr
      %td(style = 'color: yellow')=h
      - 0.step(55,05) do |m|
        %td
          #{h}:#{m}
          - @timetableaps.each do |tt|
            - if tt.timeIN.in_time_zone(@airport.time_zone).hour == h && tt.timeIN.min == m
              .aptt(style = 'background-color: #{tt.bgcolor_apload}')
                #{tt.aircompany.iata_code} #{tt.Flight_Number}
                #{link_to tt.twrus, tt.ap}
                %br
            - else
              .aptt(style = 'background-color: #070E03, height: 80px')
