%h1
  City: #{params[:city_eng]}
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table
  %tr
    %th Iata code
    %th Icao code
    %th Name rus
    %th City rus
    %th
    %th
    %th
  - @airports.each do |airport|
    %tr
      %td= airport.iata_code
      %td= airport.icao_code
      %td= link_to airport.name_rus, airport
      %td= link_to airport.city_rus, :controller=>"airports", :action => "city", :city_eng => airport.city_eng
      %td= link_to 'Edit', edit_airport_path(airport)
      %td= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Airport', new_airport_path
= link_to 'Back', airports_path
