%h2 Поиск рейсов.
%div
  %h4 Внутренние рейсы.
  = form_for("", :url => { :action => "search" }, :method => "get") do |f|
    .field
      = f.label :"Откуда:"
      %br/
      = f.select :ap_start, Airport.where(iso_code: 'EZ').collect{|item| [item.name_rus, item.id]}
    .field
      = f.label :"Куда:"
      %br/
      = f.select :ap_end, Airport.where(iso_code: 'EZ').collect{|item| [item.name_rus, item.id]}
    .field
      = f.label :"Дата вылета:"
      %br/
      = f.date_select(:thither)
    .field
      = f.label :"Дата возврата:"
      %br/
      = f.date_select(:backward )
    .actions
      = f.submit("Искать.")
