%h2 Аэропорт #{@airport.name_rus} (г. #{link_to @airport.town.city_rus, country_town_path(@airport.country,@airport.town) unless @airport.town.blank?})
= render "airports/tablo_links"
= render "airports/info"
= link_to "Редактировать данные", edit_airport_path(@airport), class: "btn btn-primary"
