%h4= @tablo.html_safe
= render "airports/tablo_links"
= simple_form_for :tablo_airport, :method => 'get', html: { class: "form-inline", :id => "timetableaps_search"} do |f|
  -if params[:tablo_airport]
    = f.select "country", options_from_collection_for_select(@countries.where.not(id: @airport.country_id).order("country_name"), :id, :country_name, params[:tablo_airport][:country]), prompt: "to all countries"
    = f.select "search_tw", options_from_collection_for_select(@towns.order("city_rus"), :id, :city_rus, params[:tablo_airport][:search_tw]), prompt: "All towns"
    = f.select "search_al", options_from_collection_for_select(@airlines.order("airline_name_rus"), :id, :airline_name_rus, params[:tablo_airport][:search_al]), prompt: "All Airlines"
    = f.select "start_time", options_for_select((Time.zone.now.beginning_of_day.to_i..(Time.zone.now.end_of_day).to_i).step(1.hour).collect{|x| [Time.zone.at(x).to_s(:time), Time.zone.at(x).utc] }, params[:tablo_airport][:start_time])
    = f.select "end_time", options_for_select(((Time.zone.now.beginning_of_day+1.hour).to_i..(Time.zone.now.beginning_of_day+1.day).to_i).step(1.hour).collect {|x| [Time.zone.at(x).to_s(:time), Time.zone.at(x).utc] }, params[:tablo_airport][:end_time])
  -else
    = f.select "country", options_from_collection_for_select(@countries.where.not(id: @airport.country_id).order("country_name"), :id, :country_name), prompt: "to all countries"
    = f.select "search_tw", options_from_collection_for_select(@towns.order("city_rus"), :id, :city_rus), prompt: "All towns"
    = f.select "search_al", options_from_collection_for_select(@airlines.order("airline_name_rus"), :id, :airline_name_rus), prompt: "All Airlines"
    = f.select "start_time", options_for_select((Time.zone.now.beginning_of_day.to_i..(Time.zone.now.end_of_day).to_i).step(1.hour).collect{|x| [Time.zone.at(x).to_s(:time), Time.zone.at(x).utc] })
    = f.select "end_time", options_for_select(((Time.zone.now.beginning_of_day+1.hour).to_i..(Time.zone.now.beginning_of_day+1.day).to_i).step(1.hour).collect {|x| [Time.zone.at(x).to_s(:time), Time.zone.at(x).utc] })

#tda.table-responsive
  = render "airports/tablo_short"

:javascript
  $(document).ready(function(){
    var max = $('#start_time').val();
    var min = $('#end_time').val();
    var rangeSlider = $('#slider')
      .slider({
        min: 1,
        max: 24,
        step: 1,
        values: [1, 24],
        value: $("#start_time").selectedIndex + 1,
        range: true,
        animate: true,
        slide: function(e,ui) {
          $('#start_time')[0].selectedIndex = ui.value - 1;
          $('#end_time')[0].selectedIndex = ui.value - 1;
         $(this)
            .find('#start_time option:selected').val(ui.values[0]).text();
          $(this)
            .find('#end_time option:selected').val(ui.values[1]).text();
        },
        stop: function(event, ui) {
           $.get("#", { start_time: $("#start_time").val(), end_time: $("#end_time").val()} );
           }
      })
   // .before('<h3>Drag the slider to filter by price:</h3>');
  
    $('#tablo_form').after(rangeSlider);
  });
:javascript
  $('select').on('change', function(e){
    this.form.submit()
  });
