%h1 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:data => {:ajax => 'false'}}) do |f|
  %p
    = f.label :login
    = f.text_field :login, :autofocus => true
  %p
    = f.label :password
    = f.password_field :password
  - if devise_mapping.rememberable?
    %p
      = f.label :remember
      = f.check_box :remember_me
  %p.login-submit
    = f.button "Sign in", class: "login-button"
  %p.forgot-password
    %a{:href => "index.html"} Забыл пароль?
  :javascript
    var elem = document.querySelector('#user_remember_me');
            var init = new Switchery(elem,{ color: '#fec200'});
