.page-header
  %h3 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:data => {:ajax => 'false'}, class: "form form-horizontal user"} ) do |f|
  .form-group
    = f.label :login, class: 'col-xs-2 control-label'
    .controls.col-xs-10
      = f.text_field :login, size: 30, :autofocus => true, class: 'form-control'
  .form-group
    = f.label :password, class: 'col-xs-2 control-label'
    .controls.col-xs-10
      = f.password_field :password, size: 30, class: 'form-control'
  - if devise_mapping.rememberable?
    .form-group
      .col-xs-offset-2.col-xs-10
        = f.label :remember, class: 'control-label'
        = f.check_box :remember_me
  .form-group
    .col-xs-offset-2.col-xs-10
      = f.button "Войти", class: "btn btn-info"
:javascript
  var elem = document.querySelector('#user_remember_me');
  var init = new Switchery(elem,{ color: '#fec200'});
