- model_class = <%= plural_table_name.classify %>
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

%h1 Listing <%= plural_table_name %>

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%= attribute.human_name %>
<% end -%>
      %th
      %th
      %th

  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% for attribute in attributes -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td= link_to 'Show', <%= singular_table_name %>
        %td= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
        %td= link_to 'Destroy', <%= singular_table_name %>, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to t('.new', :default => t("helpers.links.new")), new_<%= singular_table_name %>_path, :class => 'btn btn-primary'

