= form_for @station_type do |f|
  - if @station_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@station_type.errors.count, "error")} prohibited this station_type from being saved:"
      %ul
        - @station_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :typename
    = f.text_field :typename
  .actions
    = f.submit 'Save'
