= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

= render "countries_paginate_top"
%table.pretty
  %tr
    %th= sortable "country_name"
    %th= sortable "country_iata_code"
    %th= sortable "country_icao_code"
    %th= sortable "country_number"
    %th
    %th
  - @countries.each do |country|
    %tr
      %td= link_to country.country_name, "/countries/#{country.id}/ap_show"
      %td= country.country_iata_code
      %td= country.country_icao_code
      %td= country.country_number
      %td= link_to 'Show', country
      %td= link_to 'Edit', edit_country_path(country)
= render "countries_paginate_bottom"
