.page-header
  %h1 Airports of #{@country.country_name}

.col-xs-12
  - if policy(@airports).new?
    = link_to 'New Airport', new_airport_path, class: "btn btn-primary"
    \|
  - if policy(@country).edit?
    = link_to 'Edit country', edit_country_path(@country), class: "btn btn-info"
    \|
  = link_to 'Back to all countries', countries_path+"?search=&utf8=✓", class: "btn btn-default"
  %hr
  = render "airports/index"
  %hr
  - if policy(@airports).new?
    = link_to 'New Airport', new_airport_path, class: "btn btn-primary"
    \|
  - if policy(@country).edit?
    = link_to 'Edit country', edit_country_path(@country), class: "btn btn-info"
    \|
  = link_to 'Back to all countries', countries_path+"?search=&utf8=✓", class: "btn btn-default"

