%h1 Список rw_routes

%table.table.table-striped.table-hover.table-condensed
  %tr
    %th Start route
    %th End route
    %th
    %th
    %th
  - @rw_routes.each do |rw_route|
    %tr
      %td= rw_route.start_route
      %td= rw_route.end_route
      %td= link_to 'Открыть', rw_route
      %td= link_to 'Редактировать', edit_rw_route_path(rw_route)
      %td= link_to 'Удалить', rw_route, :confirm => 'Вы уверены?', :method => :delete

%br

= link_to 'Создать Rw route', new_rw_route_path
