= paginate @towns
%table
  %tr
    %th
      =sortable "country"

    %th
      =sortable "city"
    %th
      =sortable "accent_city"
    %th
      =sortable "city_rus"
    %th
      =sortable "region"
    %th
      =sortable "latitude"
    %th
      =sortable "longitude"
    %th
    %th
    %th

  - @towns.each do |town|
    %tr
      %td= town.country
      %td= town.city
      %td= town.accent_city
      %td= town.city_rus
      %td= town.region
      %td= town.latitude
      %td= town.longitude
      %td= link_to 'Show', town
      %td= link_to 'Edit', edit_town_path(town)
      %td= link_to 'Destroy', town, :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @towns
