%h1 Listing towns #{'of '+@country.country_name if params[:country_id] != nil?}
= form_tag '#', :method => 'get',  :id => "towns_search" do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
    #towns
      = render "towns/towns"
%br
= link_to 'New Town', new_town_path
