= link_to 'Edit', edit_country_town_path(@country, @town), class: "btn btn-primary"
\|
= link_to "Вернуться назад", :back, class: "btn btn-primary"
= form_tag new_airport_path, :method => 'get' do
  = hidden_field_tag 'town_id', @town.id
  = hidden_field_tag 'city_rus', @town.city_rus if @town.city_rus
  = hidden_field_tag 'city_eng', @town.accent_city if @town.accent_city
  = hidden_field_tag 'country_id', @town.country_id if @town.country
  = submit_tag 'Дрвить аэропорт', class: "btn btn-primary"
%p
  %b ID:
  = @town.id
%p
  %b Country:
  = @town.country.country_name
%p
  %b City:
  = @town.city
%p
  %b Accent city:
  = @town.accent_city
%p
  %b Accent city rus:
  = @town.city_rus
%p
  %b Region:
  = @town.region
%p
  %b Latitude:
  = @town.latitude
%p
  %b Longitude:
  = @town.longitude

%p= render "towns/map"

- if @airports.blank?
  %h2 В городе аэропорты отсутствуют.
- else
  %h3 About Airports in #{@town.city_rus} (#{@town.accent_city})
  = render "airports/airports"
