<div id="container">
  <div id="inner">
    <%=render "layouts/left"%>
    <%=render "layouts/right"%>
    <%=render "layouts/center"%>
    <%=render "layouts/clear"%>
    <%=render "layouts/footer"%>
  </div>
</div>
