%head
  %meta(charset="utf-8")
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")

  %title= content_for?(:title) ? yield(:title) : "IcApp"
  = csrf_meta_tags
  - if user_signed_in?
    = stylesheet_link_tag "#{current_user.user_theme.theme}/desktop/application", :media => "all", 'data-turbolinks-track': 'reload'
  - else
    = stylesheet_link_tag "default/desktop/application", :media => "all", 'data-turbolinks-track': 'reload'

  = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
  %script{type: "module"}
    :plain
      import * as Snow from '/uploads/snow.js'
      window.onload = function () {
        var snow = new Snow.default({
          id: 'snow',
          theme: 'blues',
          min_size: 1,
          max_size: 7,
          max_snow = 40
        });
        snow.start();
        document.querySelector("body").onclick = function () {
          snow.toggle();
        }
      }
