<% if user_signed_in? %>
<fieldset> 
 <legend>Панель для пользователя <%= current_user.username %> </legend>
  <li>
   <%= current_user.username %>(<%= current_user.email %>
   <p><%= link_to 'Изменить свой профиль', edit_user_registration_path, :class => "jqbutton" %></p>
  </li>
  <li>
    Твоя временная зона:  <%= current_user.time_zone %>
  </li>
  <li>
    Твой город: <%= current_user.town.accent_city%> (<%= current_user.town.latitude%>,<%= current_user.town.longitude%>)
  </li>
  <li>
    Твоя тема: <%= current_user.user_theme.theme%>
  </li>
  <li>
    Твой язык: <%= I18n.locale = params[:locale] || I18n.default_locale%> (<%=link_to 'сменить', chnglocale_path, :onclick => "return hs.htmlExpand(this, { objectType: 'ajax'} )"%>)
  </li>
  <li>
    Вы зашли с адреса: <b><%= current_user.current_sign_in_ip%></b>
  </li>
  <li>
    Ваш предыдущий заход <p><b><%= current_user.last_sign_in_at%></b></p> с адреса <p><b><%= current_user.last_sign_in_ip%></b></p>
  </li>
  <li>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class => "jqbutton" %>
  </li>
</fieldset>

<%=render "layouts/foruserinfo"%>
<% end %>
