<% if user_signed_in? %>
<fieldset> 
 <legend>Панель для пользователя <%= current_user.username %> </legend>
  <li>
   <%= current_user.username %>(<%= current_user.email %> |
   <%= link_to 'Изменить данные', edit_user_registration_path %> |
  </li>
  <li>
    Твоя временная зона:  <%= current_user.time_zone %>
  </li>
  <li>
    Твой город: <%= current_user.town.accent_city%> (<%= current_user.town.latitude%>,<%= current_user.town.longitude%>)
  </li>
  <li>
    Твоя тема: <%= current_user.user_theme.theme%>
  </li>
  <li>
    Твой язык: <%= I18n.locale = params[:locale] || I18n.default_locale%> (<%=link_to 'сменить', chnglocale_path, :onclick => "return hs.htmlExpand(this, { objectType: 'ajax'} )"%>)
  </li>
  <li>
    <%= link_to 'Выйти', '/logout/', :method => :delete %>
  </li>
</fieldset>

<%=render "layouts/foruserinfo"%>
<% end %>
