<%= form_tag root_path, :method => 'get', :id => "timetableaps_search" do %>
  <p>
    <%= submit_tag "Search", :name => nil %>
  </p>
<%end%>
<li><%= link_to "Страны мира", countries_path%></li>
<li><%= link_to "Города мира", towns_path%></li>
<li><%= link_to "Аэропорты мира", airports_path%></li>
<li><%= link_to "Авиакомпании мира"%></li>
<li><%= link_to "Самолёты", aircrafts_path%></li>
<br>
<hr>
<li><%= link_to "Города ЕШ", controller: "countries", action: "tw_show", id: 528%></li>
<li><%= link_to "Аэропорты ЕШ", controller: "countries", action: "ap_show", id: 528%></li>
<li><%= link_to "Авиакомпании ЕШ", aircompanies_path%></li>
<li><%= link_to "Поиск рейсов в ЕШ", timetableaps_path%></li>
<br>
<li><%= link_to "Расстояния между а/п", ap_dist_airports_path%></li>
<li><%= link_to "Расстояния между городами", tw_dist_towns_path%></li>
<hr>
<li><%= link_to 'Добавить основной рейс а\к', new_timetableap_path%></li>
<li><%= link_to 'Добавить доп. рейс а\к', new_timetableap_sub_path%></li>
