<% if user_signed_in? %>
<fieldset> 
 <legend>Панель для пользователя <%= current_user.username %> </legend>
  <li>
   <%= current_user.username %>(<%= current_user.email %> |
   <%= link_to 'My info', edit_user_registration_path %> |
  </li>
  <li>
    Ваша временная зона:  <%= current_user.time_zone %>
  </li>
  <li>
    Ваш язык: <%= I18n.locale = params[:locale] || I18n.default_locale%> (<%=link_to 'сменить', chnglocale_path, :onclick => "return hs.htmlExpand(this, { objectType: 'ajax'} )"%>)
  </li>
  <li>
    <%= link_to 'Выйти', '/logout/', :method => :delete %>
  </li>
</fieldset>

<%=render "layouts/foruserinfo"%>
<% end %>
