= form_tag root_path, :method => 'get', :id => "timetableaps_search" do
  %p
    = submit_tag "Search", :name => nil
%li= link_to "Страны мира", countries_path
%li= link_to "Города мира", towns_path
%li= link_to "Аэропорты мира", airports_path
%li= link_to "Авиакомпании мира", aircompanies_path
%li= link_to "Самолёты", aircrafts_path
%hr/
%li= link_to "Города EZ", controller: "/countries", action: "tw_show", id: 528
%li= link_to "Аэропорты EZ", controller: "/countries", action: "ap_show", id: 528
%li= link_to "ВПП", runway_aps_path
%li= link_to "Авиакомпании EZ", controller: "/countries", action: "al_show", id: 528
%li= link_to "Терминалы", terminals_path
%li= link_to "Поиск рейсов между аэропортами", timetableaps_path
%li= link_to "Поиск рейсов между городами", search_tt_path
%br/
%li= link_to "Расстояния между а/п", ap_dist_airports_path
%li= link_to "Поиск трансфертных рейсов", search_ap_circle_airports_path
%li= link_to "Общая карта",ap_maps_airports_path
%hr/
%li= link_to 'Добавить основной рейс а\к', new_timetableap_path
%li= link_to 'Добавить доп. рейс а\к', new_timetableap_sub_path
%hr/
%li= link_to "Станции", stations_path
%li= link_to "Тип станций", station_types_path
%li= link_to "ЖД зоны", station_zones_path
%hr/
%li= link_to 'Users', users_path
%li= link_to 'Logs', flash_messages_path
%li= link_to 'User Signes Logs', user_tracings_path
%hr/
быстрое администрирование
%li=link_to "airports", admin_ap_airports_path
