<!DOCTYPE html>
<html>
  <head>
  <%= render "layouts/head.mobile" %>
  </head>
  <body>
    <div id="all">
    <% if user_signed_in? %>
      <%=render "layouts/header.mobile"%>
      <%=render "layouts/left.mobile"%>
      <%=render "layouts/container.mobile"%>
      <%=render "layouts/footer.mobile"%>
    <%else%>
      <p><%= flash[:alert]%></p>
      <p><%= flash[:notice]%></p>
      <%= yield %>
    <%end%>
    </div>
  </body>
</html>
