!!! 5
%html(lang="ru")
  = render "layouts/head.html"
  -#-= yield :head
  %body
    .container-fluid
      - if user_signed_in?
        = render "layouts/header.html"
        = yield
      -else
        = yield
      %footer#footer.footer
        .row.justify-content-center
          = render "layouts/footer.html"
