%html(lang="ru")
  = render "layouts/head.mobile"
  %body
    - if user_signed_in?
      = render "layouts/left.mobile"
      = yield
    -else
      = yield

    %footer#footer.footer
      = render "layouts/footer.mobile"
