<!DOCTYPE html>
<html>
  <head>
  <%= render "layouts/head" %>
  </head>
  <body>
    <div id="all">
	<%#= render "layouts/flash"%>
      <% if user_signed_in? %>
        <%=render "layouts/header"%>
        <%=render "layouts/middle"%>
      <%else%>
      <p><%= flash[:alert]%></p>
      <p><%= flash[:notice]%></p>
        <%= yield %>
      <%end%>
    </div>
    <%=render "layouts/footer"%>
  </body>
</html>
