<!DOCTYPE html>
<html>
  <%= render "layouts/head.mobile" %>
  <body>
    <div id="all">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%=render "layouts/header.mobile"%>
      <%=render "layouts/left.mobile"%>
      <%=render "layouts/container.mobile"%>
      <%=render "layouts/footer.mobile"%>
    <%else%>
      <%= yield %>
    <%end%>
    </div>
  </body>
</html>
