!!!
%html(lang="ru")
  = render "layouts/head_netzke"
  %body
    .container
      - if user_signed_in?
        = render "layouts/header.html"
        .row
          .col
            = yield
      -else
        .row
          .col 
            = yield
      %footer#footer.footer
        .row
          .col
            = render "layouts/footer.html"
