!!! 5
%html(lang="ru")
  - if user_signed_in? && current_user.admin?
    = load_netzke theme: "aria"
  = render "layouts/head.mobile"
  %body
    - if user_signed_in?
      = bootstrap_flash
      = render "layouts/left.mobile"
      = yield
    -else
      = bootstrap_flash
      = yield

    %footer#footer.footer
      = render "layouts/footer.mobile"
